.editprojectmaincontainer{
    padding-left: 10px;
    padding-right: 10px;
}
.cardlllll{
    width: 70%;border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    align-items: center;
    box-shadow:#282a33 ;
}
.cardlllll:hover{
    background: white;
}
